# Exercise 9: Which stocks move together?

In the previous exercise, you clustered companies by their daily stock price movements.  So which company have stock prices that tend to change in the same way?  Now inspect the cluster labels from your clustering to find out.

**Step 1:** Load the data _(written for you)_.

In [1]:
import pandas as pd

fn = '../datasets/company-stock-movements-2010-2015-incl.csv'
stocks_df = pd.read_csv(fn, index_col=0)

**Step 2:** Run your code from the previous exercise _(filled in for you)_.

In [2]:
companies = list(stocks_df.index)
movements = stocks_df.values

from sklearn.preprocessing import Normalizer
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline

normalizer = Normalizer()
kmeans = KMeans(n_clusters=14)
pipeline = make_pipeline(normalizer, kmeans)
pipeline.fit(movements)

Pipeline(memory=None,
         steps=[('normalizer', Normalizer(copy=True, norm='l2')),
                ('kmeans',
                 KMeans(algorithm='auto', copy_x=True, init='k-means++',
                        max_iter=300, n_clusters=14, n_init=10, n_jobs=None,
                        precompute_distances='auto', random_state=None,
                        tol=0.0001, verbose=0))],
         verbose=False)

**Step 3:** Use the `.predict()` method of the pipeline to predict the labels for `movements`.

In [3]:
labels = pipeline.predict(movements)

**Step 4:** Align the cluster labels with the list of company names `companies` by creating a DataFrame `df` with `labels` and `companies` as columns.

In [12]:
df = pd.DataFrame({'labels': labels, 'companies': companies})

**Step 5:** Now display the DataFrame, sorted by cluster label.  To do this, use the `.sort_values()` method of `df` to sort the DataFrame by the `'labels'` column.

In [11]:
df.sort_values(by=['labels'])

    labels                           companies
46       0                      Sanofi-Aventis
37       0                            Novartis
20       0                          Home Depot
6        0            British American Tobacco
19       0                     GlaxoSmithKline
52       0                            Unilever
49       0                               Total
47       0                            Symantec
43       0                                 SAP
42       0                   Royal Dutch Shell
31       1                           McDonalds
56       1                            Wal-Mart
38       1                               Pepsi
28       1                           Coca Cola
41       1                       Philip Morris
36       2                    Northrop Grumman
29       2                     Lookheed Martin
54       2                            Walgreen
4        2                              Boeing
18       3                       Goldman Sachs
55       3                         Wells Fargo
5        3                     Bank of America
3        3                    American express
1        3                                 AIG
16       3                   General Electrics
26       3                      JPMorgan Chase
0        4                               Apple
17       4                     Google/Alphabet
13       5                   DuPont de Nemours
57       5                               Exxon
8        5                         Caterpillar
53       5                       Valero Energy
23       5                                 IBM
32       5                                  3M
10       5                      ConocoPhillips
12       5                             Chevron
44       5                        Schlumberger
25       5                   Johnson & Johnson
39       5                              Pfizer
9        6                   Colgate-Palmolive
27       6                      Kimberly-Clark
40       6                      Procter Gamble
30       7                          MasterCard
15       8                                Ford
21       8                               Honda
7        8                               Canon
45       8                                Sony
58       8                               Xerox
48       8                              Toyota
34       8                          Mitsubishi
35       9                            Navistar
2       10                              Amazon
59      10                               Yahoo
14      11                                Dell
22      12                                  HP
51      13                   Texas instruments
11      13                               Cisco
24      13                               Intel
33      13                           Microsoft
50      13  Taiwan Semiconductor Manufacturing

**Great job!** Using k-means, you've discovered which companies stock prices move together on the stock exchange.