In [285]:
import spacy


nlp = spacy.load("en_core_web_sm")

## Lemmatization

**Exercise 1.1**

You are given the words "playing", "played", "play". Find the lemma using spaCy for all of them.

In [286]:
words = ["playing", "played", "playing"]

for word in words:
    nlp_word = nlp(word)
    for i in nlp_word:
        print(f'The lemma of the word "{nlp_word.text}" is {i.lemma_}')

The lemma of the word "playing" is play
The lemma of the word "played" is play
The lemma of the word "playing" is play

**Exercise 1.2**

Assign the spaCy lemmatizer to a variable instead of using the whole `nlp` pipeline.

**Exercise 1.3**

Find the verb, the noun and the adjective forms of the words: "playing", "played", "surfing".

## Spell Checker

**Exercise 1.4**

In the following sentences there are some mispelling errors. Can you preprocess them to get rid of them? 

*N.B. there's no perfect spell-checker. Don't waste time on this. But be aware that it can be useful sometimes.*

In [287]:
sentences = ["i realy like this exerxise", 
             "tis sentences are surely writen by an italian",
             "lets fix thissssss"
            ]

from autocorrect import Speller

spell = Speller()

for i in sentences:
    print(spell(i))

i really like this exercise
tis sentences are surely writer by an italian
lets fix thissssss

## POS Tagging

**Exercise 1.5 (★☆☆)**

The training of TAs to survive the first two weeks at Strive School consists of the following sets:

- 1000 reps of "Did you google it?"
- 1000 reps of "Did you search it on Google already?"

Use spaCy to explain the difference of the word "google" in the two sentences.

In [288]:
nlp = spacy.load("en_core_web_sm")

In [289]:
sentences = ["Did you google it?",
             "Did you search it on Google already?"]

for sent in sentences:
    nlp_sent = nlp(sent)
    for word in nlp_sent:
        if word.text.lower() == 'google':
            print(f'{word} -- {word.pos_} -- {word.tag_} -- {spacy.explain(word.tag_)}')

google -- VERB -- VB -- verb, base form
Google -- PROPN -- NNP -- noun, proper singular

**Exercise 1.5 (★★☆)**

Get the frequencies of the POS tags in the example sentence:

In [290]:
from collections import Counter

sentence = """This is an example sentence.
            Count the POS tags in it."""

doc = nlp(sentence)

token_list = []

for token in doc:
    token_list.append(token.pos_)
    
pos_count = Counter(token_list)
pos_count

Counter({'DET': 3,
         'AUX': 1,
         'NOUN': 3,
         'PUNCT': 2,
         'SPACE': 1,
         'PROPN': 2,
         'ADP': 1,
         'PRON': 1})

**Exercise 1.7 (★★★)**

(This exercises requires many steps in Pandas, no unique solution. You can hard code the name of the columns for this example if you get stuck.)

Loading 10 tweets from the twitter datasets, create a dataframe containing the frequencies of each POS per tweet (see example).

N.B. The column names must be the tags not the indices of the tags.

In [291]:
import pandas as pd

df = pd.read_csv("data/stock_data.csv")

df = df.iloc[:10]

In [292]:
df

                                                Text  Sentiment
0  Kickers on my watchlist XIDE TIT SOQ PNK CPW B...          1
1  user: AAP MOVIE. 55% return for the FEA/GEED i...          1
2  user I'd be afraid to short AMZN - they are lo...          1
3                                  MNTA Over 12.00            1
4                                   OI  Over 21.37            1
5                                  PGNX  Over 3.04            1
6  AAP - user if so then the current downtrend wi...         -1
7  Monday's relative weakness. NYX WIN TIE TAP IC...         -1
8  GOOG - ower trend line channel test & volume s...          1
9             AAP will watch tomorrow for ONG entry.          1

In [293]:
sent1 = df['Text'].values[0]
doc1 = nlp(sent1)
token_list = []

for token in doc1:
    token_list.append(token.pos_)
    
pos_count = Counter(token_list)
dict_count = dict(pos_count)
dict_count.values()
print(dict_count)

{'NOUN': 7, 'ADP': 1, 'PRON': 1, 'PROPN': 7, 'SPACE': 1, 'NUM': 2, 'CCONJ': 1, 'PUNCT': 1, 'VERB': 1}

In [294]:
df.append(dict_count, ignore_index=True)

,Text,Sentiment,ADP,CCONJ,NOUN,NUM,PRON,PROPN,PUNCT,SPACE,VERB
0,Kickers on my watchlist XIDE TIT SOQ PNK CPW B...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,user: AAP MOVIE. 55% return for the FEA/GEED i...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,user I'd be afraid to short AMZN - they are lo...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MNTA Over 12.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,OI Over 21.37,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,PGNX Over 3.04,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,AAP - user if so then the current downtrend wi...,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Monday's relative weakness. NYX WIN TIE TAP IC...,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,GOOG - ower trend line channel test & volume s...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,AAP will watch tomorrow for ONG entry.,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,1.0,1.0,7.0,2.0,1.0,7.0,1.0,1.0,1.0

In [295]:
columns = ['NOUN',
 'ADP',
 'DET',
 'PROPN',
 'SPACE',
 'NUM',
 'CCONJ',
 'PUNCT',
 'VERB',
 'SYM',
 'ADV',
 'PRON',
 'AUX',
 'ADJ',
 'PART',
 'SCONJ']

In [296]:
import numpy as np
array = np.zeros((10,len(columns)+1))
data = pd.DataFrame(array, columns=["Text", *columns])
data

,Text,NOUN,ADP,DET,PROPN,SPACE,NUM,CCONJ,PUNCT,VERB,SYM,ADV,PRON,AUX,ADJ,PART,SCONJ
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [297]:
df0 = pd.DataFrame(list(dict_count.items()), index=range(0,9))
df_t = df0.T
df_t.columns = df_t.iloc[0]
df_t = df_t.drop(0)
df_t['Text'] = df['Text']
df_t

,NOUN,ADP,PRON,PROPN,SPACE,NUM,CCONJ,PUNCT,VERB,Text
1,7,1,1,7,1,2,1,1,1,user: AAP MOVIE. 55% return for the FEA/GEED i...

In [298]:
for i in range(0,9):
    sent1 = df['Text'].values[i]
    doc1 = nlp(sent1)
    token_list = []

    for token in doc1:
        token_list.append(token.pos_)
    
    pos_count = Counter(token_list)
    dict_count = dict(pos_count)
    print(dict_count)

{'NOUN': 7, 'ADP': 1, 'PRON': 1, 'PROPN': 7, 'SPACE': 1, 'NUM': 2, 'CCONJ': 1, 'PUNCT': 1, 'VERB': 1}
{'NOUN': 6, 'PUNCT': 4, 'PROPN': 5, 'NUM': 2, 'ADP': 2, 'DET': 2, 'SYM': 1, 'ADV': 1, 'SPACE': 2}
{'NOUN': 4, 'PRON': 2, 'AUX': 3, 'VERB': 2, 'ADJ': 3, 'PROPN': 2, 'PUNCT': 5, 'ADP': 3, 'DET': 2, 'CCONJ': 1}
{'NOUN': 1, 'ADP': 1, 'NUM': 1, 'SPACE': 1}
{'PROPN': 1, 'SPACE': 2, 'ADP': 1, 'NUM': 1}
{'NOUN': 1, 'SPACE': 2, 'ADP': 1, 'NUM': 1}
{'NOUN': 7, 'PUNCT': 5, 'SCONJ': 1, 'ADV': 4, 'DET': 2, 'ADJ': 3, 'AUX': 1, 'VERB': 1, 'ADP': 1}
{'PROPN': 12, 'PART': 1, 'ADJ': 1, 'NOUN': 1, 'PUNCT': 1, 'SPACE': 1}
{'NUM': 1, 'PUNCT': 2, 'NOUN': 7, 'CCONJ': 1, 'SPACE': 1}

## Named Entities Recognition

**Exercise 1.8**

In the Twitter dataset sample above, count how many entities are in each tweet.

In [299]:
# your code here
df["ents"] = # your code here

SyntaxError: invalid syntax (<ipython-input-299-3da467851c10>, line 2)

In [300]:
df

                                                Text  Sentiment
0  Kickers on my watchlist XIDE TIT SOQ PNK CPW B...          1
1  user: AAP MOVIE. 55% return for the FEA/GEED i...          1
2  user I'd be afraid to short AMZN - they are lo...          1
3                                  MNTA Over 12.00            1
4                                   OI  Over 21.37            1
5                                  PGNX  Over 3.04            1
6  AAP - user if so then the current downtrend wi...         -1
7  Monday's relative weakness. NYX WIN TIE TAP IC...         -1
8  GOOG - ower trend line channel test & volume s...          1
9             AAP will watch tomorrow for ONG entry.          1

**Exercise 1.9**

In the Twitter dataset sample above, create an extra column with the name of the Organization entities in the tweet.

In [ ]:
# your code here

In [301]:
df["Organizations"] = # your code here

SyntaxError: invalid syntax (<ipython-input-301-646ed2b95133>, line 1)

In [ ]:
df

## Matcher

**Exercise 2.0**

You have scraped many websites collecting a list of users but written in many different form: someone has an email like:

```
username: antonio
user: antonio.marsella@email.com
USER:antonio
USERNAME: antonio
```
How would you match all of them using a spaCy matcher?`

In [302]:
text = """
username: antonio
user: antonio.marsella@email.com
USER:antonio
USERNAME: antonio
"""

doc = nlp(text)

In [480]:
from spacy.matcher import Matcher

pattern = [
    #{'lower': 'username'},
    {'lower': 'user'},
    {'IS_PUNCT': True},
    {'IS_SPACE': True, 'OP': '?'},
    {'lower': 'antonio'},
    {'IS_PUNCT': True, 'OP': '?'},
    {'lower': 'marsella'}

]

In [481]:
matcher = Matcher(nlp.vocab)
matcher.add("USERNAME", [pattern])

In [482]:
matches = matcher(doc)
for match_id, start, end in matches:
    string_id = nlp.vocab.strings[match_id]  # Get string representation
    span = doc[start:end]  # The matched span
    print(string_id, start, end, span.text)
    
#dir(matches)