In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./resources/Books.csv')
df = df.drop(['Unnamed: 0'], axis = 1)
df.head()

,Title,Author,Rating Count,Review Count,Rating Value,N pag,1st Pub,series,Genres,Awards,minmax_norm_ratings,mean_norm_ratings,Link
0,To Kill a Mockingbird,Harper Lee,4629082,92962,4.28,324.0,1960.0,1,"['Classics', 'Fiction', 'Historical']",4.0,7.705,2.330,https://www.goodreads.com/book/show/2657.To_Ki...
1,1984,George Orwell,3250211,72375,4.19,237.0,1949.0,0,"['Classics', 'Fiction', 'Science Fiction']",2.0,7.161,1.787,https://www.goodreads.com/book/show/40961427-1984
2,The Great Gatsby,F. Scott Fitzgerald,3877685,68965,3.93,200.0,1925.0,0,"['Classics', 'Fiction', 'Academic']",1.0,5.591,0.216,https://www.goodreads.com/book/show/3.Harry_Po...
3,Harry Potter and the Sorcerer's Stone,J.K. Rowling,7281482,115354,4.48,309.0,1997.0,1,"['Fantasy', 'Fiction', 'Young Adult']",28.0,8.913,3.538,https://www.goodreads.com/book/show/4671.The_G...
4,"The Hobbit, or There and Back Again",J.R.R. Tolkien,2973224,49547,4.28,366.0,1937.0,1,"['Fantasy', 'Classics', 'Fiction']",3.0,7.705,2.330,https://www.goodreads.com/book/show/170448.Ani...

In [31]:
# getting needed variable for the calculations
max_rating = df['Rating Value'].max()
min_rating = df['Rating Value'].min()
range_of_ratings = max_rating - min_rating
mean_rating = df['Rating Value'].mean()

# calculating minmax norm ratings and adding column to df
df['minmax_norm_ratings'] = round(1 + 9*((df['Rating Value'] - min_rating)/range_of_ratings) , 3)

# calculating mean norm ratings and adding column to df
df['mean_norm_ratings'] = round(1 + 9*((df['Rating Value'] - mean_rating)/range_of_ratings) , 3)

# scaling mean norm ratings from 0 to 10
mmax = np.max(df['mean_norm_ratings'])
mmin = np.min(df['mean_norm_ratings'])
df['mean_norm_ratings'] = (df['mean_norm_ratings'] - mmin) / (mmax - mmin) *10

# exporting the updated csv
df.to_csv('./resources/Books.csv')