In [232]:
import pandas as pd

In [233]:
df = pd.read_csv("data/jre_elon_musk.csv")
df.head()

    Timestamp    Speaker                                               Text
0  [00:00:00]  Joe Rogan  Ah, ha, ha, ha. Four, three, two, one, boom. T...
1  [00:00:09]  Elon Musk                                    You're welcome.
2  [00:00:10]  Joe Rogan                        It's very good to meet you.
3  [00:00:11]  Elon Musk                              Nice to meet you too.
4  [00:00:12]  Joe Rogan    And thanks for not lighting this place on fire.

In [234]:
# Print the first ten lines of text
print(df['Text'][0:10].values)

['Ah, ha, ha, ha. Four, three, two, one, boom. Thank you. Thanks for doing this, man. Really appreciate it.'
 "You're welcome." "It's very good to meet you." 'Nice to meet you too.'
 'And thanks for not lighting this place on fire.'
 "You're welcome. That's coming later."
 "How does one, just in the middle of doing all the things you do, create cars, rockets, all the stuff you're doing,constantly innovating, decide to just make a flamethrower? Where do you have the time for that?"
 "Well, the flame, we didn't put a lot of time into the flamethrower. This was an off-the-cuff thing. It's sort of a hobbycompany called the Boring Company, which started out as a joke, and we decided to make a real, and dig a tunnelunder LA. And then, other people asked us to dig tunnels. And so, we said yes in a few cases."
 'Now, who-'
 'And then, we have a merchandise section that only has one piece of merchandise at a time. And we started off witha cap. And there was only one thing on, which is BoringCompany.com/hat. That\'s it. And then, we sold the hats,limited edition. It just said, "The Boring Company."']

In [235]:
# Create a function to convert timestamp into seconds
import re
def convert_timestamp_into_seconds(timestamp):
    total_seconds = 0
    
    seconds = int(re.findall(pattern, timestamp)[2])
    minutes = int(re.findall(pattern, timestamp)[1]) * 60
    hours = int(re.findall(pattern, timestamp)[0]) *3600
    
    total_seconds = seconds + minutes + hours
    
    return total_seconds

In [236]:
# Convert the Timestamp column using the function defined above

df["Timestamp"] = df['Timestamp'].apply(convert_timestamp_into_seconds)

In [237]:
df

      Timestamp    Speaker                                               Text
0             0  Joe Rogan  Ah, ha, ha, ha. Four, three, two, one, boom. T...
1             9  Elon Musk                                    You're welcome.
2            10  Joe Rogan                        It's very good to meet you.
3            11  Elon Musk                              Nice to meet you too.
4            12  Joe Rogan    And thanks for not lighting this place on fire.
...         ...        ...                                                ...
1826       9401  Joe Rogan            I believe it's true too. So, thank you.
1827       9403  Elon Musk                                    You're welcome.
1828       9404  Joe Rogan  All you assholes out there, be nice. Be nice, ...
1829       9410  Elon Musk                              All right, thank you.
1830       9410  Joe Rogan  Good night, everybody. END OF TRANSCRIPTAutoma...

[1831 rows x 3 columns]

In [238]:
df['Interval1'] = df['Timestamp'].shift(-1)
df['Interval'] = df['Interval1'] - df['Timestamp']
df

,Timestamp,Speaker,Text,Interval1,Interval
0,0,Joe Rogan,"Ah, ha, ha, ha. Four, three, two, one, boom. T...",9.0,9.0
1,9,Elon Musk,You're welcome.,10.0,1.0
2,10,Joe Rogan,It's very good to meet you.,11.0,1.0
3,11,Elon Musk,Nice to meet you too.,12.0,1.0
4,12,Joe Rogan,And thanks for not lighting this place on fire.,13.0,1.0
...,...,...,...,...,...
1826,9401,Joe Rogan,"I believe it's true too. So, thank you.",9403.0,2.0
1827,9403,Elon Musk,You're welcome.,9404.0,1.0
1828,9404,Joe Rogan,"All you assholes out there, be nice. Be nice, ...",9410.0,6.0
1829,9410,Elon Musk,"All right, thank you.",9410.0,0.0
1830,9410,Joe Rogan,"Good night, everybody. END OF TRANSCRIPTAutoma...",NaN,NaN

In [239]:
# Add a column with the seconds lasted by the text in the row
# for example: the first row lasts 9 seconds, since Elon Musk
# answer at the second 9 (Hint: use shift with period - 1).
# In case of negative numbers, just make them 1 (minimum interval lenght is 1 second)

df['Interval1'] = df['Timestamp'].shift(-1)
df['Interval'] = df['Interval1'] - df['Timestamp']
df.fillna(1, inplace=True)
df.drop('Interval1', axis=1, inplace=True)
df['Interval'].replace(0,1, inplace=True)
df

,Timestamp,Speaker,Text,Interval
0,0,Joe Rogan,"Ah, ha, ha, ha. Four, three, two, one, boom. T...",9.0
1,9,Elon Musk,You're welcome.,1.0
2,10,Joe Rogan,It's very good to meet you.,1.0
3,11,Elon Musk,Nice to meet you too.,1.0
4,12,Joe Rogan,And thanks for not lighting this place on fire.,1.0
...,...,...,...,...
1826,9401,Joe Rogan,"I believe it's true too. So, thank you.",2.0
1827,9403,Elon Musk,You're welcome.,1.0
1828,9404,Joe Rogan,"All you assholes out there, be nice. Be nice, ...",6.0
1829,9410,Elon Musk,"All right, thank you.",1.0
1830,9410,Joe Rogan,"Good night, everybody. END OF TRANSCRIPTAutoma...",1.0

In [240]:
df.Speaker.unique()

array(['Joe Rogan', 'Elon Musk', 'Jaime'], dtype=object)

In [241]:
# Total seconds spoken by Joe Rogan

df.loc[df['Speaker'] == 'Joe Rogan']['Interval'].cumsum().max()

4637.0

In [242]:
# Total seconds spoken by Elon Musk

df.loc[df['Speaker'] == 'Elon Musk']['Interval'].cumsum().max()

5075.0

In [243]:
# Total seconds spoken by Jaime

df.loc[df['Speaker'] == 'Jaime']['Interval'].cumsum().max()

45.0

In [252]:
# Average speaking interval for each person

jr =df.loc[df['Speaker'] == 'Joe Rogan']['Interval'].mean()
em = df.loc[df['Speaker'] == 'Elon Musk']['Interval'].mean()
ja = df.loc[df['Speaker'] == 'Jaime']['Interval'].mean()

print(f'Average speaking for Joe: {jr.round(2)} \nAverage speaking for Elon: {em.round(2)}\n Average speaking for Jaime: {ja.round(2)}')

Average speaking for Joe: 5.12
Average speaking for Elon: 5.58
 Average speaking for Jaime: 2.65

Who speaks faster?

Tokenize the text, preprocess the tokens so that you have only words (excluding punctuation) and compute the velocity of each speaker as: number of words per interval / length of interval . Store the result in a column named Velocity and compute the average for each speaker.

In [245]:
# Preprocess the data
import spacy
import string
nlp = spacy.load("en_core_web_sm")

# Create a function to remove punctuation from text

def remove_punctuation(text):
    text_no_punct = "".join([char for char in text if char not in string.punctuation])
    return text_no_punct
    
# Create a function to count the non punctuation token of a text

def count_tokens(text):
    # your code here
    text = nlp(text)
    return len(text)
    
# Create a function to remove stop words from text
    
def remove_stopwords(text):
    # your code here
    spacy_stopwords = spacy.lang.en.stop_words.STOP_WORDS
    text = nlp(text)
    tokens = [token.text for token in doc if not token.is_stop]
    return tokens

df["TextNoPunct"] = df['Text'].apply(remove_punctuation)

In [246]:
# Put the number of tokens of each row in a new column
df["n_tokens"] = df['TextNoPunct'].apply(count_tokens)

In [247]:
df

,Timestamp,Speaker,Text,Interval,TextNoPunct,n_tokens
0,0,Joe Rogan,"Ah, ha, ha, ha. Four, three, two, one, boom. T...",9.0,Ah ha ha ha Four three two one boom Thank you ...,19
1,9,Elon Musk,You're welcome.,1.0,Youre welcome,3
2,10,Joe Rogan,It's very good to meet you.,1.0,Its very good to meet you,6
3,11,Elon Musk,Nice to meet you too.,1.0,Nice to meet you too,5
4,12,Joe Rogan,And thanks for not lighting this place on fire.,1.0,And thanks for not lighting this place on fire,9
...,...,...,...,...,...,...
1826,9401,Joe Rogan,"I believe it's true too. So, thank you.",2.0,I believe its true too So thank you,8
1827,9403,Elon Musk,You're welcome.,1.0,Youre welcome,3
1828,9404,Joe Rogan,"All you assholes out there, be nice. Be nice, ...",6.0,All you assholes out there be nice Be nice bit...,18
1829,9410,Elon Musk,"All right, thank you.",1.0,All right thank you,4
1830,9410,Joe Rogan,"Good night, everybody. END OF TRANSCRIPTAutoma...",1.0,Good night everybody END OF TRANSCRIPTAutomate...,18

In [248]:
# Compute the velocity and store it in a new column

df["Velocity"] = df['n_tokens'] // df['Interval']

In [249]:
df

,Timestamp,Speaker,Text,Interval,TextNoPunct,n_tokens,Velocity
0,0,Joe Rogan,"Ah, ha, ha, ha. Four, three, two, one, boom. T...",9.0,Ah ha ha ha Four three two one boom Thank you ...,19,2.0
1,9,Elon Musk,You're welcome.,1.0,Youre welcome,3,3.0
2,10,Joe Rogan,It's very good to meet you.,1.0,Its very good to meet you,6,6.0
3,11,Elon Musk,Nice to meet you too.,1.0,Nice to meet you too,5,5.0
4,12,Joe Rogan,And thanks for not lighting this place on fire.,1.0,And thanks for not lighting this place on fire,9,9.0
...,...,...,...,...,...,...,...
1826,9401,Joe Rogan,"I believe it's true too. So, thank you.",2.0,I believe its true too So thank you,8,4.0
1827,9403,Elon Musk,You're welcome.,1.0,Youre welcome,3,3.0
1828,9404,Joe Rogan,"All you assholes out there, be nice. Be nice, ...",6.0,All you assholes out there be nice Be nice bit...,18,3.0
1829,9410,Elon Musk,"All right, thank you.",1.0,All right thank you,4,4.0
1830,9410,Joe Rogan,"Good night, everybody. END OF TRANSCRIPTAutoma...",1.0,Good night everybody END OF TRANSCRIPTAutomate...,18,18.0

In [250]:
# Inspect the avg velocity of each speaker

jr =df.loc[df['Speaker'] == 'Joe Rogan']['Velocity'].mean()
em = df.loc[df['Speaker'] == 'Elon Musk']['Velocity'].mean()
ja = df.loc[df['Speaker'] == 'Jaime']['Velocity'].mean()

print(f'Speaker:\nElon Musk:\t {em}\nJaime \t{ja}\nJoe Rogan\t {jr}')

Speaker:
Elon Musk:	 2.611661166116612
Jaime 	3.2941176470588234
Joe Rogan	 2.7569060773480665

After all, Elon was high...

![image](https://bsmedia.business-standard.com/_media/bs/img/article/2018-09/09/full/1536463138-6668.jpg)

In [251]:
#